﻿@model Yihui.Models.LocalPasswordModel
<style>
    .validation-summary-errors {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
        border-radius: 10px;
    }
</style>
<div class="container">
    <div class="row">

        <fieldset>
            <legend>Change Password</legend>

            @using (Html.BeginForm("Manage", "Account"))
            {
                <p class="alert-danger">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                </p>
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(m => m.OldPassword) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div> 

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(m => m.NewPassword) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div> 

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(m => m.ConfirmPassword) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div> 
                <br />
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <button type="submit" class="btn btn-success">Change</button>
                        <a href="/User/MyProfile" class="btn btn-default">Back to User</a>
                    </div>
                </div> 
            }

        </fieldset>
    </div>
</div>
