﻿@model Yihui.Models.LoginModel
<link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="~/Content/main/default.css">
<link rel="stylesheet" href="~/Content/main/style.css">

@{
    ViewBag.Title = "Log in";
}

@*
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.Label("Select Vehicle")
                @Html.DropDownList("VehicleId", (SelectList)ViewBag.VehicleId)
                @Html.ValidationMessage("Vehicle")
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" id="login" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section> 
<div id="wrdapper"> *@
<!-- start header -->
<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>-->
                <div class="logo"></div>
                <a class="navbar-brand" href="#"><span>Y</span>I HUI METALS PTE LTD
                </a>



            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html"></a></li>
                    <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Features <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="components.html">Components</a></li>
								<li><a href="pricingbox.html">Pricing box</a></li>
                            </ul>
                        </li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">

                <div class="panel-body">
                    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username" })
                            <p class="alert-danger">@Html.ValidationMessageFor(m => m.UserName)</p>
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                            <p class="alert-danger">@Html.ValidationMessageFor(m => m.Password)@Html.ValidationMessage("UserError")</p>
                        </div>
                        <div class="form-group">
                            @Html.DropDownList("VehicleId", (SelectList)ViewBag.VehicleId, new { @class = "form-control", @placeholder = "Select Vehicle" })
                            <p class="alert-danger">@Html.ValidationMessage("Vehicle")</p>
                        </div>
                        <div>
                            @Html.ActionLink("Register", "Register") if you don't have an account.
                        </div>
                        <input class="btn btn-lg btn-info btn-block" type="submit" value="Log in" id="login">
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>


@*
<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section> *@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


