﻿@model Yihui.Models.RegisterModel
<link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="~/Content/main/default.css">
<link rel="stylesheet" href="~/Content/main/style.css">


@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>-->
                <div class="logo"></div>
                <a class="navbar-brand" href="#"><span>Y</span>I HUI METALS PTE LTD
                </a>



            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html"></a></li>
                    <!--<li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Features <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="components.html">Components</a></li>
								<li><a href="pricingbox.html">Pricing box</a></li>
                            </ul>
                        </li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-5 col-md-offset-4">
            <div class="panel panel-default">

                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">@Html.LabelFor(model => model.UserName) </label>
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                <p class="alert-danger">@Html.ValidationMessageFor(model => model.UserName)</p>
                            </div>
                        </div> 
                       
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">@Html.LabelFor(model => model.Password) </label>
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                                <p class="alert-danger">@Html.ValidationMessageFor(model => model.Password)</p>
                            </div>
                        </div> 
                       
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">@Html.LabelFor(model => model.ConfirmPassword) </label>
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                <p class="alert-danger">@Html.ValidationMessageFor(model => model.ConfirmPassword)</p>
                            </div>
                        </div> 
                       
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">@Html.LabelFor(model => model.FName) </label>
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.FName, new { @class = "form-control" })
                                <p class="alert-danger">@Html.ValidationMessageFor(model => model.FName)</p>
                            </div>
                        </div> 
                       
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">@Html.LabelFor(model => model.LName) </label>
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.LName, new { @class = "form-control" })
                                <p class="alert-danger">@Html.ValidationMessageFor(model => model.LName)</p>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">@Html.LabelFor(model => model.Address) </label>
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                <p class="alert-danger">@Html.ValidationMessageFor(model => model.Address)</p>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">@Html.LabelFor(model => model.Email) </label>
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                <p class="alert-danger">@Html.ValidationMessageFor(model => model.Email)</p>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">@Html.LabelFor(model => model.ContactNo) </label>
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                                <p class="alert-danger">@Html.ValidationMessageFor(model => model.ContactNo)</p>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">@Html.LabelFor(model => model.DeptId, "Department") </label>
                            </div>
                            <div class="col-sm-6">
                                @Html.DropDownList("DeptId", (SelectList)ViewBag.DeptId, " ", new { @class = "form-control" })
                                <p class="alert-danger">@Html.ValidationMessageFor(model => model.DeptId)</p>
                            </div>
                        </div>  

                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">@Html.LabelFor(model => model.NICNo) </label>
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.NICNo, new { @class = "form-control" })
                                <p class="alert-danger">@Html.ValidationMessageFor(model => model.NICNo)</p>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Create</button>
                                <a href="/Account/Login" class="btn btn-default">Back</a>
                            </div>
                        </div> 

                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RegisterModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FName)
            @Html.ValidationMessageFor(model => model.FName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LName)
            @Html.ValidationMessageFor(model => model.LName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNo)
            @Html.ValidationMessageFor(model => model.ContactNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeptId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeptId", String.Empty)
            @Html.ValidationMessageFor(model => model.DeptId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfJoin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfJoin)
            @Html.ValidationMessageFor(model => model.DateOfJoin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NICNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NICNo)
            @Html.ValidationMessageFor(model => model.NICNo)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Login","Account")
</div>*@

<footer>
    <div class="container">
        <div class="row">
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
