﻿@model Yihui.Models.Device

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Device</legend>

        @Html.HiddenFor(model => model.DeviceId)
        @Html.HiddenFor(model => model.Deleted)

        <div class="editor-label">
            @Html.LabelFor(model => model.DeviceTypeId, "DeviceType")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeviceTypeId", String.Empty)
            @Html.ValidationMessageFor(model => model.DeviceTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SerialNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SerialNo)
            @Html.ValidationMessageFor(model => model.SerialNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModelId, "Model")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ModelId", String.Empty)
            @Html.ValidationMessageFor(model => model.ModelId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PurchaseDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PurchaseDate)
            @Html.ValidationMessageFor(model => model.PurchaseDate)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
