﻿@model Yihui.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<style>
    .profile_details {
        margin-top: 8px;
    }
</style>

<div class="container">
    <div class="row">
        <fieldset>
            <legend>User Details</legend>
            <div class="form-horizontal profile_form timetable_div" role="form">
                <div class="col-xs-6 col-sm-6 col-md-6 column">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.UserName)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.UserName, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.FName)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.FName, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LName)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.LName, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Address)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Address, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Email)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Email, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ContactNo)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.ContactNo, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.IsActive)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.IsActive, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Department.DeptName)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Department.DeptName, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DateOfJoin)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.DateOfJoin, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.NICNo)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.NICNo, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="/User/Edit/@Model.UserId?page=@ViewBag.Page" class="btn btn-success">Edit</a>
                            <a href="/User/Index?grid-page=@ViewBag.Page" class="btn btn-info">Back to List</a>
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>
    </div>
</div>

