﻿@model Yihui.Models.User

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<div class="container">
    <div class="row">

        <fieldset>
            <legend>Edit User</legend>

            @using (Html.BeginForm(new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.Deleted)

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.UserName) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.UserName)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.FName) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.FName, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.FName)</p>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.LName) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.LName, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.LName)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Address) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Address)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Email) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Email)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.ContactNo) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.ContactNo)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.IsActive) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.IsActive, new { @class = "" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.IsActive)</p>
                    </div>
                </div>   

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.DeptId, "Department") </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("DeptId", (SelectList)ViewBag.DeptId," ", new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.DeptId)</p>
                    </div>
                </div> 

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.DateOfJoin) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.DateOfJoin, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.DateOfJoin)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.NICNo) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.NICNo, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.NICNo)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="/User/Index?grid-page=@ViewBag.Page" class="btn btn-default">Back</a>
                    </div>
                </div> 
            }

        </fieldset>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
