﻿@model Yihui.Models.User

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_ManageProfile.cshtml";
}
<style>
.profile_details {
        margin-top: 8px;
    }
    .nlabel {
        text-align:right;
    }
</style>
<div class="container">
    <div class="row">

        <fieldset>
            <legend>User</legend>
       <div class="form-horizontal profile_form timetable_div" role="form">
           <div class="col-xs-6 col-sm-6 col-md-6 column">
               <div class="form-group">
                   <label class="col-sm-4 control-label nlabel">@Html.DisplayNameFor(model => model.UserName)</label>
                   <div class="col-sm-7 profile_details">
                        @Html.DisplayFor(model => model.UserName, new { @class="control-lable" })
                   </div>
               </div>
           
               <div class="form-group">
                   <label class="col-sm-4 control-label"> @Html.DisplayNameFor(model => model.FName)</label>
                   <div class="col-sm-7 profile_details">
                       @Html.DisplayFor(model => model.FName)
                   </div>
               </div>
          
               <div class="form-group">
                   <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.LName)</label>
                   <div class="col-sm-7 profile_details">
                        @Html.DisplayFor(model => model.LName)
                   </div>
               </div>
           
               <div class="form-group">
                   <label class="col-sm-4 control-label"> @Html.DisplayNameFor(model => model.Address)</label>
                   <div class="col-sm-7 profile_details">
                        @Html.DisplayFor(model => model.Address)
                   </div>
               </div>
           
               <div class="form-group">
                   <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Email)</label>
                   <div class="col-sm-7 profile_details">
                        @Html.DisplayFor(model => model.Email)
                   </div>
               </div>

               <div class="form-group">
                   <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ContactNo)</label>
                   <div class="col-sm-7 profile_details">
                        @Html.DisplayFor(model => model.ContactNo)
                   </div>
               </div>

               <div class="form-group">
                   <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Department.DeptName)</label>
                   <div class="col-sm-7 profile_details">
                       @Html.DisplayFor(model => model.Department.DeptName)
                   </div>
               </div>

               <div class="form-group">
                   <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.DateOfJoin)</label>
                   <div class="col-sm-7 profile_details">
                       @Html.DisplayFor(model => model.DateOfJoin)
                   </div>
               </div>

               <div class="form-group">
                   <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.NICNo)</label>
                   <div class="col-sm-7 profile_details">
                       @Html.DisplayFor(model => model.NICNo)
                   </div>
               </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-10">
                        <a href="/User/UpdateProfile" class="btn btn-default">Update Profile</a>
                    </div>
                </div>

           </div>
       </div>

     </fieldset>  
        
    </div>
</div>

@*<p>
    @Html.ActionLink("Update Profile", "UpdateProfile", new { id=Model.UserId }) |
    @Html.ActionLink("Change Password", "Manage", "Account")
</p>*@
