﻿@model Yihui.Models.User

@{
    ViewBag.Title = "UpdateProfile";
    Layout = "~/Views/Shared/_ManageProfile.cshtml";
}

<div class="container">
    <div class="row">



        <fieldset>
            <legend>Update Profile</legend>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

   

        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.Deleted)
        @Html.HiddenFor(model => model.DateOfJoin)

    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">@Html.LabelFor(model => model.UserName) </label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.UserName)</p>
        </div>
    </div> 

     <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">@Html.LabelFor(model => model.FName) </label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.FName, new { @class = "form-control" })
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.FName)</p>
        </div>
    </div> 
    
    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">@Html.LabelFor(model => model.LName) </label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.LName, new { @class = "form-control" })
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.LName)</p>
        </div>
    </div> 
    
    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">@Html.LabelFor(model => model.Address) </label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.Address)</p>
        </div>
    </div> 
    
    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">@Html.LabelFor(model => model.Email) </label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.Email)</p>
        </div>
    </div>
    
     <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">@Html.LabelFor(model => model.ContactNo) </label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.ContactNo)</p>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">@Html.LabelFor(model => model.DeptId) </label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.DeptId, new { @class = "form-control" })
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.DeptId)</p>
        </div>
    </div>
    
     <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">@Html.LabelFor(model => model.NICNo) </label>
        </div>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.NICNo, new { @class = "form-control" })
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.NICNo)</p>
        </div>
    </div>
         <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="/User/MyProfile" class="btn btn-default">Cancel</a>
                    </div>
                </div>
    
}
</fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
