﻿@model Yihui.Models.Customer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<div class="container">
    <div class="row">

        <fieldset>

            <legend>Customer</legend>

            @using (Html.BeginForm(new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                 <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.CustomerNo) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.CustomerNo, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.CustomerNo)</p>
                    </div>
                </div>  

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.CompName) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.CompName, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.CompName)</p>
                    </div>
                </div>  
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Address) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Address)</p>
                    </div>
                </div>  
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Email) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Email)</p>
                    </div>
                </div>  
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Fax) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Fax)</p>
                    </div>
                </div>  
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Website) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Website, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Website)</p>
                    </div>
                </div>   
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.ContactNo) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.ContactNo)</p>
                    </div>
                </div>   
             
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.GSTRegistered) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.CheckBoxFor(model => model.GSTRegistered, new { @class = "" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.GSTRegistered)</p>
                    </div>
                </div>   
             
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.CustomerTypeId, "CustomerType") </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("CustomerTypeId", (SelectList)ViewBag.CustomerTypeId," ", new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.CustomerTypeId)</p>
                    </div>
                </div>  
            
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Create</button>
                        <a href="/Customer" class="btn btn-default">Back</a>
                    </div>
                </div> 
        
            }

        </fieldset>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
