﻿@model Yihui.Models.Customer

@{
    ViewBag.Title = "Delete";
    //Layout = "~/Views/Shared/_DataList.cshtml";
}
<div class="modal-content">

    <div class="modal-body">
        <fieldset>
            <legend>Delete Vendor</legend>

            <h4 class="alert alert-error">Are you sure you want to delete this @Html.DisplayFor(model => model.CompName) Vendor?</h4>
            <div class="form-actions">
                @using (Html.BeginForm())
                {
                    <p style="text-align: center">
                        <button type="submit" class="btn btn-danger" value="Delete">Yes</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-default" href="/Customer/Index?grid-page=@ViewBag.Page">NO</a>

                    </p>
                }
            </div>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
