﻿@model Yihui.Models.Customer

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_DataList.cshtml";
}
<style>
    .profile_details {
        margin-top: 8px;
    }
</style>
<div class="modal-content">

    <div class="modal-body">
<div class="container">
    <div class="row">
        <fieldset>
            <legend>Vendor Details</legend>
            <div class="form-horizontal profile_form timetable_div" role="form">
                <div class="col-xs-6 col-sm-6 col-md-6 column">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CompName)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.CompName, new { @class = "" })
                        </div>
                    </div>

                   <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CustomerNo)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.CustomerNo, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Address)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Address, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Email)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Email, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Fax)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Fax, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Website)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Website, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.ContactNo)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.ContactNo, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.GSTRegistered)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.GSTRegistered, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CustomerType.CustomerTypeName)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.CustomerType.CustomerTypeName)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <a href="/Customer/Edit/@Model.CustomerId?page=@ViewBag.Page" class="btn btn-success">Edit</a>
                            <a href="/Customer/Index?grid-page=@ViewBag.Page" class="btn btn-info">Back to List</a>
                        </div>
                    </div>
                </div>


            </div>
        </fieldset>
    </div>
</div>

         </div></div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>

