﻿@model IEnumerable<Yihui.Models.Customer>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DataList.cshtml";
}
<style>
     .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
        }
     .selected {
        background-color:#D3D3D3;
    }
</style>
<div class="row">
        <a href="/Customer">
            <div class="col-md-3 main_menu selected">Vendor</div>
        </a>
        <a href="/Vehicle">
            <div class="col-md-3 main_menu">Vehical</div>
        </a>
        <a href="/Item">
            <div class="col-md-3 main_menu">Metals</div>
        </a>
        <a href="/User">
            <div class="col-md-3 main_menu">Users</div>
        </a>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-3"><h3>LIST OF COMPANIES</h3></div>
        <div class="col-md-3"></div>
        <a href="/Customer/Create">
            <div class="col-md-3 col-md-offset-3">
                <button class="btn btn-info" id="createNew">
                    <i class="glyphicon glyphicon-plus"></i><span class="hidden-sm hidden-xs">ADD NEW COMPANY</span>
                </button>
            </div>
        </a>
    </div>

    @Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.CompName).Titled("Company Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Address).Titled("Address").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.ContactNo).Titled("Contact Number").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.ContactPerson).Titled("Contact Person").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("VIEW", "Details", "Customer", new { id = o.CustomerId, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("EDIT", "Edit", "Customer", new { id = o.CustomerId, page = ViewBag.Page }, new { @class = "btn btn-success" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("DELETE", "Delete", "Customer", new { id = o.CustomerId, page = ViewBag.Page }, new { @class = "btn btn-danger modal-link" }).ToHtmlString());

          }).WithPaging(10)

</div>


@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   @* @RenderSection("scripts", required: false)*@

    <div id="modal-container" class="modal" tabindex="-1" role="dialog">
        
    </div>

    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>
