﻿@model Yihui.Models.Vehicle

@{
    ViewBag.Title = "Create Vehicle";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<div class="container">
    <div class="row">

        <fieldset>

            <legend>Vehicle</legend>

            @using (Html.BeginForm(new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.VehicleNo) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.VehicleNo, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.VehicleNo)</p>
                    </div>
                </div> 

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.COEExpiry) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.COEExpiry, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.COEExpiry)</p>
                    </div>
                </div>

@*<div class="editor-label">
            @Html.LabelFor(model => model.RunningStatusId, "CurrentRunningStatus")
        </div>
        <div class="editor-field">
            @Html.DropDownList("RunningStatusId", String.Empty)
            @Html.ValidationMessageFor(model => model.RunningStatusId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeptId, "AssignedDept")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeptId", String.Empty)
            @Html.ValidationMessageFor(model => model.DeptId)
        </div>*@

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.BrandId, "Brand") </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("BrandId", (SelectList)ViewBag.BrandId," ", new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.BrandId)</p>
                    </div>
                </div>  

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.ModelId, "Model") </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("ModelId", (SelectList)ViewBag.ModelId," ", new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.ModelId)</p>
                    </div>
                </div> 

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.Label("Device") </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("Device", (SelectList)ViewBag.DeviceId," ", new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessage("Device")</p>
                    </div>
                </div> 

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Create</button>
                        <a href="/Vehicle" class="btn btn-default">Back</a>
                    </div>
                </div> 

            }

        </fieldset>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
