﻿@model Yihui.Models.Vehicle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<style>
    .profile_details {
        margin-top: 8px;
    }
</style>

<div class="container">
    <div class="row">
        <fieldset>
            <legend>Vehicle Details</legend>
            <div class="form-horizontal profile_form timetable_div" role="form">
                <div class="col-xs-6 col-sm-6 col-md-6 column">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.VehicleNo)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.VehicleNo, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.COEExpiry)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.COEExpiry, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Brand.Brand)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Brand.Brand, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Model.VehicleModel)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Model.VehicleModel, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayName("Device")</label>
                        <div class="col-sm-7 profile_details">
                            @ViewBag.Device
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="/Vehicle/Edit/@Model.VehicleId?page=@ViewBag.Page" class="btn btn-success">Edit</a>
                            <a href="/Vehicle/Index?grid-page=@ViewBag.Page" class="btn btn-info">Back to List</a>
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>
    </div>
</div>


