﻿@model IEnumerable<Yihui.Models.Vehicle>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DataList.cshtml";
}
<style>
  .selected {
        background-color:#D3D3D3;
    }
</style>
<div class="row">
        <a href="/Customer">
            <div class="col-md-3 main_menu">Vendor</div>
        </a>
        <a href="/Vehicle">
            <div class="col-md-3 main_menu selected">Vehical</div>
        </a>
        <a href="/Item">
            <div class="col-md-3 main_menu">Metals</div>
        </a>
        <a href="/User">
            <div class="col-md-3 main_menu">Users</div>
        </a>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-3"><h3>LIST OF VEHICLE</h3></div>
        <div class="col-md-3"></div>
        <a href="/Vehicle/Create">
            <div class="col-md-3 col-md-offset-3">
                <button class="btn btn-info" id="createNew">
                    <i class="glyphicon glyphicon-plus"></i><span class="hidden-sm hidden-xs">ADD NEW VEHICLE</span>
                </button>
            </div>
        </a>
    </div>
    @Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.VehicleNo).Titled("Vehicle Number").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Brand.Brand).Titled("Brand").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Model.VehicleModel).Titled("Model").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.COEExpiry).Titled("COE Expiry").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("VIEW", "Details", "Vehicle", new { id = o.VehicleId, page = ViewBag.Page }, new { @class = "btn btn-info" }).ToHtmlString());
              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("EDIT", "Edit", "Vehicle", new { id = o.VehicleId, page = ViewBag.Page }, new { @class = "btn btn-success" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("DELETE", "Delete", "Vehicle", new { id = o.VehicleId, page = ViewBag.Page }, new { @class = "btn btn-danger" }).ToHtmlString());

          }).WithPaging(10)

</div>
