﻿@model IEnumerable<Yihui.Models.Assignment>
@using GridMvc.Html

@{
    ViewBag.Title = "Assignment List";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create","Assignment")
</p>

