﻿@{
    ViewBag.Title = "SystemDashBoard";
                //Layout = "~/Views/Shared/_DashLayout.cshtml";
    
    
    <link rel="stylesheet" href="~/Content/main/css/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="~/Content/main/css/jcarousel.css" />
    <link rel="stylesheet" href="~/Content/main/css/flexslider.css" />
    <link rel="stylesheet" href="~/Content/main/css/style.css" />
}

<style>
    .what {
        padding: 30px 20px;
        border: 0px solid;
        width: 60%;
    }

    .logoff {
        float: right;
    }

    .newass {
        padding: 20px 20px;
    }

    .singinas {
        border: 0px solid red;
        float: left;
        color: white;
    }

    .suser {
        font-size: 24px;
        color: #777;
    }
</style>
<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">
        @*<button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@

        <a class="navbar-brand">
            <span>WELCOME</span></a>
        <div class="pull-left what">
            @if (Request.IsAuthenticated)
            { 
                <text>
                <div class="singinas suser">
                    @User.Identity.Name &nbsp; &nbsp; &nbsp;
                </div>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
<a class="logoff" href="javascript:document.getElementById('logoutForm').submit()">Click here to Log Out</a>
                }
                </text>
            }
        </div>
        @*<div class="pull-right newass">
            <button class="btn btn-info" id="createNew">
                <i class="glyphicon glyphicon-plus"></i><span class="hidden-sm hidden-xs">Add New Assignment</span>
                <span class="caret"></span>
            </button>
        </div>*@

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="dashheading">
            <h2>SYSTEM DASHBOARD</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-3">
                    <div class="box">
                    </div>
                </div>
                <div class="col-lg-3">
                    <a href="/Assignment/Drivers">
                        <div class="box">
                            <div class="box-gray aligncenter" style="cursor: pointer;">
                                <div class="icon">
                                    <i class="monitor">
                                        <img src="~/Images/login/monitor.png" height="50%" width="50%" /></i>
                                </div>
                                <div class="monitor">
                                    <h4>MONITOR DRIVERS</h4>
                                    <p>
                                        Monitor Locations of Drivers and Edit Driver Jobs.
                                    </p>
                                </div>

                            </div>
                            <!--
							<div class="box-bottom">
								<a href="#">GO</a>
							</div> -->
                        </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="/Customer/Index">
                        <div class="box">
                            <div class="box-gray aligncenter" style="cursor: pointer;">
                                <div class="icon">
                                    <i class="editdata">
                                        <img src="~/Images/login/editdata.png" height="50%" width="50%" /></i>
                                </div>
                                <div class="editdata">
                                    <h4>EDIT DATA LISTS</h4>

                                    <p>
                                        Add/Edit Companies, Item Types, Vehicle Lists etc
                                    </p>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="/WeighingTask/Index">
                        <div class="box">
                            <div class="box-gray aligncenter" style="cursor: pointer;">
                                <div class="icon">
                                    <i class="monitor">
                                        <img src="~/Images/login/monitor.png" height="50%" width="50%" /></i>
                                </div>
                                <div class="monitor">
                                    <h4>MONITOR Weighing</h4>
                                    <p>
                                        Monitor Locations of Drivers and Edit Driver Jobs.
                                    </p>
                                </div>

                            </div>
                            <!--
							<div class="box-bottom">
								<a href="#">GO</a>
							</div> -->
                        </div>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="/StockList/Index">
                        <div class="box">
                            <div class="box-gray aligncenter" style="cursor: pointer;">
                                <div class="icon">
                                    <i class="monitor">
                                        <img src="~/Images/login/monitor.png" height="50%" width="50%" /></i>
                                </div>
                                <div class="monitor">
                                    <h4>Stock Inventory

                                    </h4>
                                    <p>
                                        Monitor Locations of Drivers and Edit Driver Jobs.
                                    </p>
                                </div>

                            </div>
                            <!--
							<div class="box-bottom">
								<a href="#">GO</a>
							</div> -->
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
@*
    @Html.ActionLink("Moniter Drivers", "MoniterDrivers")
    @Html.ActionLink("Edit Data Lists", "Index","Device")*@
<script src="main/js/jquery.js"></script>
<script src="main/js/jquery.easing.1.3.js"></script>
<script src="main/js/bootstrap.min.js"></script>
<script src="main/js/jquery.fancybox.pack.js"></script>
<script src="main/js/jquery.fancybox-media.js"></script>
<script src="main/js/google-code-prettify/prettify.js"></script>
<script src="main/js/portfolio/jquery.quicksand.js"></script>
<script src="main/js/portfolio/setting.js"></script>
<script src="main/js/jquery.flexslider.js"></script>
<script src="main/js/animate.js"></script>
<script src="main/js/custom.js"></script>
