﻿@model Yihui.Models.Department

@{
    ViewBag.Title = "Department Create";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Department</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeptName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeptName)
            @Html.ValidationMessageFor(model => model.DeptName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrgId, "Organization")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OrgId", String.Empty)
            @Html.ValidationMessageFor(model => model.OrgId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeptHead)
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeptHead",(SelectList)@ViewBag.DeptHeadUserId)
            @Html.ValidationMessageFor(model => model.DeptHead)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
