﻿@model PagedList.IPagedList<Yihui.Models.Department>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Department List";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.ActionLink("Department Name", "Index", new { sortOrder = ViewBag.DeptNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Organization Name", "Index", new { sortOrder = ViewBag.OrgNameSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.OrgName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeptId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeptId })
        </td>
    </tr>
}

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",new { page, sortOrder = ViewBag.CurrentSort}))
