﻿@model Yihui.Models.Assignment

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_DriverMoniterLayout.cshtml";
}
 @Styles.Render("~/Content/css")
<style>
    .profile_details {
        margin-top: 8px;
    }
</style>
<div class="modal-content">

    <div class="modal-body">
<div class="container">
    <div class="row">
        <fieldset>
            <legend>Assignment Details</legend>

            <div class="form-horizontal profile_form timetable_div" role="form">

                <div class="col-xs-6 col-sm-6 col-md-6 column">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Name)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Name, new { @class = "" })
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Description)</label>
                            <div class="col-sm-7 profile_details" style="text-align:justify">
                                @Html.DisplayFor(model => model.Description, new { @class = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Priority_Master.Priority)</label>
                            <div class="col-sm-7 profile_details">
                                @Html.DisplayFor(model => model.Priority_Master.Priority, new { @class = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Status_Master.Status)</label>
                            <div class="col-sm-7 profile_details">
                                @Html.DisplayFor(model => model.Status_Master.Status, new { @class = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.StartDate)</label>
                            <div class="col-sm-7 profile_details">
                                @Html.DisplayFor(model => model.StartDate, new { @class = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.EndDate)</label>
                            <div class="col-sm-7 profile_details">
                                @Html.DisplayFor(model => model.EndDate, new { @class = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Address)</label>
                            <div class="col-sm-7 profile_details">
                                @Html.DisplayFor(model => model.Address, new { @class = "" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.User.UserName)</label>
                            <div class="col-sm-7 profile_details">
                                @Html.DisplayFor(model => model.User.UserName, new { @class = "" })
                            </div>
                        </div>

                    
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.CustomerId)</label>
                            <div class="col-sm-7 profile_details">
                                @Html.DisplayFor(model => model.Customer.CompName, new { @class = "" })
                            </div>
                        </div>

                    <div class="form-group">
                            <label class="col-sm-4 control-label">Items</label>
                            <div class="col-sm-7 profile_details">
                                @foreach (var item in ViewBag.items)
                                {
                            <div class="display-label">
                                @item.Item.Name
                            </div>
                            <br />
                                }
                            </div>
                        </div>                    
                    
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                            <a href="/Assignment/Edit/@Model.AssignmentId?page=@ViewBag.Page" class="btn btn-success">Edit</a>
                            <a href="/Assignment/Index?grid-page=@ViewBag.Page" class="btn btn-info">Back to List</a>
                        </div>
                    </div>

                </div>


            </div>



        </fieldset>
    </div>
</div>
        </div></div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
