﻿@model IEnumerable<Yihui.Models.Driver>

@{
    ViewBag.Title = "Drivers";
    Layout = "~/Views/Shared/_DriverMoniterLayout.cshtml";
}
<style>
    
    .selected {
        background-color:#D3D3D3;
    }
</style>
<div class="row">
        
        <a href="/Assignment/Drivers">
            
            <div id="dr" class="col-md-6 main_menu selected">DRIVERS</div>
               
        </a> 
         
        <a href="/Assignment" class="">
            <div id="jo" class="col-md-6 main_menu">JOBS</div>
        </a>
             

    </div>

    <div class="row">        
        <div class="col-xs-6 col-md-4">
            <table class="table table-hover">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <strong>Driver Name :</strong> @Html.DisplayFor(modelItem => item.Name) <br />
                        
                            <strong>Driver Name :</strong>@Html.DisplayFor(modelItem => item.ContactNo)<br />
                        
                            <strong>Vehicle No :</strong>@Html.DisplayFor(modelItem => item.VehcileNo)<br />
                        
                            <strong>Job Name :</strong>@Html.DisplayFor(modelItem => item.JobName)<br />
                        
                            <strong>Company Name :</strong>@Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                    </tr>
                       @* <td>
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VehcileNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                    </tr>*@
                }

            </table>
        </div>
        <div class="col-xs-12 col-md-8 shadow" id="container"><div id="map_canvas" style="height: 600px; width: 98%;"></div></div>
    </div>



@*<div id="container" class="shadow">
    <div id="map_canvas" style="height: 600px; width: 100%;"></div>
</div>*@

<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        Initialize();
    });

    function Initialize() {

        // Google has tweaked their interface somewhat - this tells the api to use that new UI
        google.maps.visualRefresh = true;
        var Liverpool = new google.maps.LatLng(6.9270786, 79.931673);

        // These are options that set initial zoom level, where the map is centered globally to start, and the type of map to show
        var mapOptions = {
            zoom: 10,
            center: Liverpool,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        // This makes the div with id "map_canvas" a google map
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        var model = @Html.Raw(Json.Encode(Model))

        $.each(model, function (i, item) {
            var myLatlng = new google.maps.LatLng(item.Lat, item.Lan);
              var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Home'
              });

              var contentString = item.VehcileNo + '<br/> ' + item.Name + '<br/> ' + item.ContactNo + '<br/> ' + item.JobName + '<br/> ' + item.CompanyName;

              var infowindow = new google.maps.InfoWindow({
                  content: contentString
              });

              marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');

              google.maps.event.addListener(marker, 'click', function () {
                  infowindow.open(map, marker);
              });

        });

    }

</script>
