﻿@model IEnumerable<Yihui.Models.Assignment>
@using GridMvc.Html

@{
    ViewBag.Title = "DRIVER JOBS";
    Layout = "~/Views/Shared/_DriverMoniterLayout.cshtml";
}

<style>
     .modal-content {
            width: 600px !important;
            margin: 30px auto !important;
        }
    .selected {
        background-color:#D3D3D3;
    }
</style>
<div class="row">
        
        <a href="/Assignment/Drivers">
            
            <div id="dr" class="col-md-6 main_menu">DRIVERS</div>
               
        </a> 
         
        <a href="/Assignment" class="">
            <div id="jo" class="col-md-6 main_menu selected">JOBS</div>
        </a>
             

    </div>
<div class="container">
     
    <div class="row">
     <div class="col-md-3"><h3>DRIVER JOBS</h3></div>
       <div class="col-md-3"></div>
 <a href="/Assignment/Create"> 
     <div class="col-md-3 col-md-offset-3">
            <button class="btn btn-info" id="createNew">
                <i class="glyphicon glyphicon-plus"></i><span class="hidden-sm hidden-xs">ADD NEW ASSIGNMENT</span>                
            </button>
        </div> </a>
         </div>

@Html.Grid(Model).Columns(columns =>
          {
              columns.Add(t => t.Address).Titled("Destination").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Name).Titled("Job Name").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.CreatedDate).Titled("Created Date").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.User.UserName).Titled("Assigned To").SetWidth(120).Sortable(true).Filterable(true);
              columns.Add(t => t.Status_Master.Status).Titled("Status").SetWidth(120).Sortable(true).Filterable(true);

              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("VIEW", "Details", "Assignment", new { id = o.AssignmentId, page = ViewBag.Page }, new { @class = "btn btn-info modal-link" }).ToHtmlString());
              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("EDIT", "Edit", "Assignment", new { id = o.AssignmentId, page = ViewBag.Page }, new { @class = "btn btn-success" }).ToHtmlString());
              columns.Add().Titled("").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("DELETE", "Delete", "Assignment", new { id = o.AssignmentId, page = ViewBag.Page }, new { @class = "btn btn-danger modal-link" }).ToHtmlString());

          }).WithPaging(10)



    </div>
@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   @* @RenderSection("scripts", required: false)*@

    <div id="modal-container" class="modal" tabindex="-1" role="dialog">
        
    </div>

    <script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();

            // Initalize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });

            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });

            $('#CancelModal').on('click', function () {
                return false;
            });
        });
    </script>