﻿@model Yihui.Models.Assignment

@{
    ViewBag.Title = "Reassign";
    Layout = "~/Views/Shared/_DriverMoniterLayout.cshtml";
}

<h2>Reassign</h2>

<fieldset>
    <legend>Assignment</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.CustomerId)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Customer.CompName)
    </div>

    <div class="editor-label">
        @Html.Label("Previous Owner")
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    @using (Html.BeginForm())
        {
        
        @Html.ValidationSummary(true)
        @Html.Hidden("Id",Model.AssignmentId)

        <div class="editor-label">
            @Html.Label("New Owner")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", (SelectList)ViewBag.UserId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
            
        }
</fieldset>


<div>
    <a class="btn btn-info" href="/Assignment/Index?grid-page=@ViewBag.Page">Back to List</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
