﻿@model Yihui.Models.Item

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<div class="container">
    <div class="row">
        <fieldset>
            <legend>Delete Metal</legend>

            <h4 class="alert alert-error">Are you sure you want to delete this @Html.DisplayFor(model => model.Name) Metal?</h4>
            <div class="form-actions">
                @using (Html.BeginForm())
                {
                    <p style="text-align: center">
                        <button type="submit" class="btn btn-danger" value="Delete">Yes</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-default" href="/Item/Index?grid-page=@ViewBag.Page">NO</a>

                    </p>
            }
            </div>
        </fieldset>
    </div>
</div>

