﻿@model Yihui.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<style>
    .profile_details {
        margin-top: 8px;
    }
</style>

<div class="container">
    <div class="row">
        <fieldset>
            <legend>Item Details</legend>
            <div class="form-horizontal profile_form timetable_div" role="form">
                <div class="col-xs-6 col-sm-6 col-md-6 column">

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Name)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Name, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Gauge)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Gauge, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Grade)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Grade, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.UnitPrice)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.UnitPrice, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">@Html.DisplayNameFor(model => model.Description)</label>
                        <div class="col-sm-7 profile_details">
                            @Html.DisplayFor(model => model.Description, new { @class = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a href="/Item/Edit/@Model.ItemId?page=@ViewBag.Page" class="btn btn-success">Edit</a>
                            <a href="/Item/Index?grid-page=@ViewBag.Page" class="btn btn-info">Back to List</a>
                        </div>
                    </div>

                </div>
            </div>

        </fieldset>
    </div>
</div>


