﻿@model Yihui.Models.Item

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<div class="container">
    <div class="row">

        <fieldset>
            <legend>Edit Metal</legend>

            @using (Html.BeginForm(new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.ItemId)
                @Html.HiddenFor(model => model.Deleted)

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Name) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Name)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Gauge) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Gauge, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Gauge)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Grade) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Grade, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Grade)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.UnitPrice) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.UnitPrice, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.UnitPrice)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Description) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Description)</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="/Item/Index?grid-page=@ViewBag.Page" class="btn btn-default">Back</a>
                    </div>
                </div> 

            }

        </fieldset>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
