﻿@model Yihui.Models.DeviceVehicle

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DeviceVehicle</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeviceId, "Device")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeviceId", String.Empty)
            @Html.ValidationMessageFor(model => model.DeviceId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VehicleId, "Vehicle")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VehicleId", String.Empty)
            @Html.ValidationMessageFor(model => model.VehicleId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
