﻿@model Yihui.Models.DeviceVehicle

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>DeviceVehicle</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Device.SerialNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Device.SerialNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vehicle.VehicleNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle.VehicleNo)
    </div>

</fieldset>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
