﻿@model Yihui.Models.DeviceVehicle

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DeviceVehicle</legend>

        @Html.HiddenFor(model => model.DeviceVehicleId)
        @Html.HiddenFor(model => model.Deleted)
        @Html.HiddenFor(model => model.Active)
        @Html.HiddenFor(model => model.DeviceId)

        <div class="editor-label">
            @Html.LabelFor(model => model.DeviceId, "Device")
        </div>
        <div class="editor-field">
            @Html.Label((String)ViewBag.Device)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VehicleId, "Vehicle")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VehicleId", String.Empty)
            @Html.ValidationMessageFor(model => model.VehicleId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
