﻿@model PagedList.IPagedList<Yihui.Models.DeviceVehicle>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "DeviceVehicle", FormMethod.Get))
{
      <label>Search By serial</label>
       @Html.TextBox("SearchSerial", ViewBag.CurrentSerial as string)
        <br/>
        <label>Search By vehcile No</label>
       @Html.TextBox("SearchVehicle", ViewBag.CurrentVehicle as string)
       <input class="btn btn-default" type="submit" value="Search" />
}

<table>
    <tr>
        <th>
            @Html.ActionLink("Device Serial No", "Index", new { sortOrder = ViewBag.SerialNoSortParm ,currentSerial=ViewBag.CurrentSerial,currentVehicle=ViewBag.CurrentVehicle})
        </th>
        <th>
            @Html.ActionLink("Vehicle No", "Index", new { sortOrder = ViewBag.SerialNoSortParm ,currentSerial=ViewBag.CurrentSerial,currentVehicle=ViewBag.CurrentVehicle })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Device.SerialNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.VehicleNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeviceVehicleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeviceVehicleId })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", 
    new { page, sortOrder = ViewBag.CurrentSort, currentSerial=ViewBag.CurrentSerial,currentVehicle=ViewBag.CurrentVehicle }))
