﻿@model Yihui.Models.CustomerType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>CustomerType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CustomerTypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CustomerTypeName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CustomerTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
