﻿@model Yihui.Models.Assignment

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jqueryval")

<style>

    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
</style>
<div class="modal-content">
    <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><img src="~/Images/user/button_cancel.png" width="20" height="20"/></button>
                <h4 class="modal-title">ADD NEW ASSIGNMENT</h4>
                 <p class="modal-title pull-right">Created on @DateTime.Now.ToShortDateString()</p>
            </div>
    <div class="modal-body">
       
            @using (Html.BeginForm("Create", "InternalAssignment", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)

                    <fieldset>
                        
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">@Html.LabelFor(model => model.CustomerId, "Customer")</label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownList("CustomerId", (SelectList)ViewBag.CustomerId, new { @id = "CustomerId", @onchange = "javascript:GetCustomerDetails(this.value);", @class = "form-control" })
                                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.CustomerId)</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">@Html.LabelFor(model => model.Name) </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.Name)</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">@Html.LabelFor(model => model.Address) </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.Address)</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">@Html.LabelFor(model => model.Description) </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control input-lg" })
                                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.Description)</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">@Html.LabelFor(model => model.PriorityId, "Priority") </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownList("PriorityId", (SelectList)ViewBag.PriorityId, new { @class = "form-control" })
                                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.PriorityId)</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">@Html.LabelFor(model => model.StatusId, "Status") </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.DropDownList("StatusId", (SelectList)ViewBag.StatusId, new { @class = "form-control" })
                                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.PriorityId)</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">@Html.LabelFor(model => model.StartDate) </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.StartDate)</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">@Html.LabelFor(model => model.EndDate) </label>
                                </div>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                                    <p class="alert-danger">@Html.ValidationMessageFor(model => model.EndDate)</p>
                                </div>
                            </div> 
                            
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <label class="control-label">POPath</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-group col-sm-12">
                                        <span class="input-group-btn">
                                            <span class="btn btn-default btn-file">Browse&hellip;
                                    <input type="file" name="file" id="file" multiple>
                                            </span>
                                        </span>
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="form-group">
                             <div class="col-sm-4">
                                <label class="control-label">Item</label>
                            </div>
                            <div class="col-sm-8">
                                <table id="div_Items" class="table">
                                    <tr class="">                                       
                                        <th>
                                            <input type="button" class="BtnPlus btn btn-info" value="ADD LINE" /></th>
                                        <th>
                                            <input type="button" class="BtnMinus btn btn-danger" value="REMOVE" /></th>
                                    </tr>
                                    <tr id="div_Item" class="info">
                                        <td>
                                            @Html.DropDownList("ItemId", (SelectList)ViewBag.ItemId)
                                        </td>
                                        <td>
                                            @Html.TextBox("Weight", "", new { @class = "form-control" })
                                        </td>
                                    </tr>
                                </table>
                                <p class="alert-danger">@Html.ValidationMessage("Items")</p>
                            
                            </div>
                        </div> 

                            <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <button type="submit" class="btn btn-success">Save</button>
                                <a href="/InternalAssignment/Index" class="btn btn-default">Cancel</a>
                            </div>
                        </div>                         

                        </div>
                        <div class="col-md-4">
                            <h4 style="text-align:center">Address and Contact Number</h4>
                            <div class="col-md-6"><strong> Address :</strong> </div><div class="col-md-6"><p class="pull-right" id="Address"></p></div> <br />
                               <div class="col-md-6"> <strong>Contact No : </strong> </div><div class="col-md-6"><p class="pull-right" id="ContactNo"></p> </div>

                        </div>
                    </fieldset>
                }

                
            
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>



<script type="text/javascript">
    $(document).ready(function () {

        var rowCount = 1;

        function addRow() {
            $('#div_Items tr:last').after($('#div_Item').clone());
            rowCount++;
        };

        $("#div_Items").on("click", ".BtnPlus", addRow);

        function deleteRow() {
            if (rowCount > 1) {
                $('#div_Items tr:last').remove();
                rowCount--;
            }
        };
        $("#div_Items").on("click", ".BtnMinus", deleteRow);
    });

    function GetCustomerDetails(_cusId) {

        var url = "/InternalAssignment/GetCustomerDetails/";

        $.ajax({
            url: url,
            data: { cusId: _cusId },
            cache: false,
            type: "POST",
            success: function (data) {
                $("#Address").text(data.Address);
                $("#ContactNo").text(data.ContactNo);
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }


    //$(document).on('change', '.btn-file :file', function () {
    //    var input = $(this),
    //        numFiles = input.get(0).files ? input.get(0).files.length : 1,
    //        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    //    input.trigger('fileselect', [numFiles, label]);
    //});

    //$(document).ready(function () {
    //    $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

    //        var input = $(this).parents('.input-group').find(':text'),
    //            log = numFiles > 1 ? numFiles + ' files selected' : label;

    //        if (input.length) {
    //            input.val(log);
    //        } else {
    //            if (log) alert(log);
    //        }

    //    });
    //});

</script>
