﻿@model Yihui.Models.Assignment
<style>
    .def {
        color:white;
    }
    .Low {
        color: #FFB149;
        font-weight:400;
    }
    .Medium {
        color:#2D9947;
        font-weight:500;
    }
    .High {
        color:red;
        font-weight:600;
    }
</style>

<div class="row">

    <div class="col-md-3">
        <div class="dislplayjob">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
        </div>

        
        @if (Html.DisplayFor(model => model.Priority_Master.Priority).ToString() == "Low")
        {
            <p>Priority:</p>  <p class="Low">Low</p>
        }
        else if (Html.DisplayFor(model => model.Priority_Master.Priority).ToString() == "Medium")
        { 
            <p>Priority:</p><p class="Medium">Medium</p>
        }
        else
        {
            <p>Priority:</p><p class="High">High</p>
        }
       
    </div>

    @if (Model.StatusId == (int)Yihui.Common.Status.Not_Started)
    {
        <div class="col-md-3">
            <a class="btn btn-warning" href="/InternalAssignment/Edit?id=@Model.AssignmentId"><i class="glyphicon glyphicon-edit">&nbsp;</i>EDIT</a>
        </div>
    }
    else
    {
        <div class="col-md-3">
            <a class="btn btn-warning" href="#" disabled="disabled"><i class="glyphicon glyphicon-edit">&nbsp;</i>EDIT</a>
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.POPath))
    {
        <div class="col-md-3">
            <div class="">
                <a class="" target="_blank" href="/InternalAssignment/DisplayPDF?id=@Model.AssignmentId">
                    <img src="~/Images/user/b6.png" /></a>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-3">
            <div class="">
                <a class="disabled" disabled="disabled">
                    <img src="~/Images/user/b6.png" /></a>
            </div>
        </div>
    }

    <div class="col-md-3">
        @Html.DropDownList("StatusId", null, new { @onchange = "javascript:UpdateStatus(this.value);", @class = "form-control def" })
        <p class="alert-danger">@Html.ValidationMessageFor(model => model.StatusId)</p>
    </div>


</div>

<div class="box col-md-12">
    <div class="box-inner">
        <div class="">
        </div>
        <div class="box-content row">
            <div class="col-lg-12 col-md-12">
                <div class="col-xs-6 col-md-6">
                    <p>Company Name: @Html.DisplayFor(model => model.Customer.CompName)</p>
                    <p>Address:@Html.DisplayFor(model => model.Address)</p>
                    <p>Contact No: @Html.DisplayFor(model => model.Customer.ContactNo)</p>
                </div>
                <div class="col-xs-6 col-md-6">

                    @*VIEW MAP @Html.ActionLink("", "ViewMap", new { id = Model.AssignmentId })*@
                    <a href="/InternalAssignment/ViewMap?id=@Model.AssignmentId">
                        <img src="~/Images/user/b5.png" /></a>


                </div>
            </div>
            <div class="col-xs-6 col-md-4 main_menu2">
                <strong>
                <p>Planned Start</p></strong>
                <p>@Html.DisplayFor(model => model.StartDate)</p>
                
            </div>
            <div class="col-xs-6 col-md-4 main_menu2">
                <strong>
                <p>Planned End</p></strong>
                <p>@Html.DisplayFor(model => model.EndDate)</p>
                
            </div>
            <div class="col-xs-6 col-md-4 main_menu2">
                <strong>
                <p>Assignment Owner</p></strong>
                <p>@Html.DisplayFor(model => model.User.UserName)</p>
                
            </div>
            <br />
            <div class="col-md-12">
                <p>Description</p>
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
            <br />
            <div class="col-md-12">
                <p>Items</p>
                @foreach (var item in ViewBag.items)
                {
                    <div class="display-label">
                        @item.Item.Name
                    </div>
                    <br />
                }
            </div>


        </div>
    </div>
</div>


<script type="text/javascript">

    function UpdateStatus(_statusid) {
        window.location.href = '/InternalAssignment/UpdateStatus?id=' +@Model.AssignmentId +'&statusid=' + _statusid;
         
    }
    
    $(document).ready(function () {
        var id = $('#StatusId').val();
        
        if (id == 1) {
            $('#StatusId').css('backgroundColor', 'rgb(52, 52, 51)');
        }
        else if (id == 2) {
            $('#StatusId').css('backgroundColor', 'rgb(253, 183, 29)');
        }
        else if (id == 3) {
            $('#StatusId').css('backgroundColor', 'rgb(33, 147, 69)');
        }
        else if (id == 4) {
            $('#StatusId').css('backgroundColor', 'rgb(155, 71, 220)');
        }
        else {
            $('#StatusId').css('backgroundColor', 'rgb(183, 39, 39)');
        }
    });


</script>







