﻿@model Yihui.Models.Assignment
@{
    Layout = "~/Views/Shared/_UserProfile.cshtml";
    ViewBag.Title = "Edit Job";
}
<style>
    .btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}</style>
<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">
        @*<button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@
         <div class="navbar-brand">
        <div class="pull-left">
        <a class="btn btn-info" id="" href="/InternalAssignment/Index">
                <i class="glyphicon glyphicon-arrow-left"></i><span class="hidden-sm hidden-xs"></span>
            </a>
       
            <span>EDIT JOB</span></div></div>
       
        @* <div class="pull-right newass">
           <button class="btn btn-info" id="createNew">
                <i class="glyphicon glyphicon-plus"></i><span class="hidden-sm hidden-xs">Add New Assignment</span>
                <span class="caret"></span>
            </button>*@
        </div>

    </div>

@*@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Assignment</legend>

        @Html.HiddenFor(model => model.AssignmentId)
        @Html.HiddenFor(model => model.Deleted)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PriorityId, "Priority_Master")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PriorityId", String.Empty)
            @Html.ValidationMessageFor(model => model.PriorityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusId, "Status_Master")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StatusId", String.Empty)
            @Html.ValidationMessageFor(model => model.StatusId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerId", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.POPath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.POPath)
            @Html.ValidationMessageFor(model => model.POPath)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@


<div class="container">
    <div class="row">



        <fieldset>
            <legend>Assignment</legend>

            @using (Html.BeginForm("Edit", "InternalAssignment", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.AssignmentId)
                @Html.HiddenFor(model => model.Deleted)
                @Html.HiddenFor(model => model.POPath)

                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Name) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Name)</p>
                    </div>
                </div> 
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Description) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Description)</p>
                    </div>
                </div> 
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.PriorityId, "Priority") </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("PriorityId", (SelectList)ViewBag.PriorityId, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.PriorityId)</p>
                    </div>
                </div> 
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.StatusId, "Status") </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("StatusId", (SelectList)ViewBag.StatusId, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.PriorityId)</p>
                    </div>
                </div> 
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.StartDate) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.StartDate)</p>
                    </div>
                </div> 
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.EndDate) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.EndDate)</p>
                    </div>
                </div> 
                
               <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.Address) </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Address)</p>
                    </div>
                </div> 
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.UserId, "User") </label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("UserId", (SelectList)ViewBag.UserId, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.UserId)</p>
                    </div>
                </div> 
            
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">@Html.LabelFor(model => model.CustomerId, "Customer")</label>
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("CustomerId", (SelectList)ViewBag.CustomerId, new { @class = "form-control" })
                        <p class="alert-danger">@Html.ValidationMessageFor(model => model.CustomerId)</p>
                    </div>
                </div> 
                
                <div class="form-group">
                    <div class="col-sm-2">
                        <label class="control-label">POPath</label>
                    </div>
                     <div class="col-sm-10">
                    <div class="input-group col-sm-12">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">Browse&hellip;
                                <input type="file" name="file" id="file" multiple>
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                         </div>
                </div> 
            
                <div class="form-group">
                             <div class="col-sm-2">
                                <label class="control-label">Item</label>
                            </div>
                            <div class="col-sm-10">
                                <table id="div_Items" class="table">
                                    <tr class="">                                       
                                        <th>
                                            <input type="button" class="BtnPlus btn btn-info" value="ADD LINE" /></th>
                                        <th>
                                            <input type="button" class="BtnMinus btn btn-danger" value="REMOVE" /></th>
                                    </tr>
                                    <tr id="div_Item" class="info">
                                        <td>
                                            @Html.DropDownList("ItemId", new SelectList(ViewBag.Items, "ItemId", "Name"))
                                        </td>
                                        <td>
                                            @Html.TextBox("Weight", "", new { @class = "form-control" })
                                        </td>
                                    </tr>
                                    @foreach (var item in ViewBag.MyItems)
                                    {
                                        <tr class="info">
                                            <td>
                                                @Html.DropDownList("ItemId", new SelectList(ViewBag.Items, "ItemId", "Name", item.ItemId))
                                            </td>
                                            <td>
                                                @Html.TextBox("Weight", (String)item.Weight.ToString(), new { @class = "form-control" })
                                            </td>
                                        </tr>
                            }
                                </table>
                                <p class="alert-danger">@Html.ValidationMessage("Items")</p>
                            
                            </div>
                        </div>                
                 
            
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="/InternalAssignment/Index" class="btn btn-default">Back to List</a>
                    </div>
                </div> 
    
            }
        </fieldset>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {

        function addRow() {
            $('#div_Items tr:last').after($('#div_Item').clone());
        };

        $("#div_Items").on("click", ".BtnPlus", addRow);

        function deleteRow() {
            var rowCount = $('#div_Items tr').length;
            if (rowCount > 2) {
                $('#div_Items tr:last').remove();
            }
        };
        $("#div_Items").on("click", ".BtnMinus", deleteRow);
    });

</script>

<script>
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
            numFiles = input.get(0).files ? input.get(0).files.length : 1,
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
    });

    $(document).ready(function () {
        $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = numFiles > 1 ? numFiles + ' files selected' : label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
    });
</script>
