﻿@{
    ViewBag.Title = "ViewMap";
    Layout = "~/Views/Shared/_UserProfile.cshtml";
}
<style>
    .arrow {
        float:right;
        /*margin-top: -15%;*/
       
    }
    .read_more {
        color:black;
         width: 100%;
         border:0px red solid;
    }
    .directab {
        width: 100%;
        border: 0px red solid;
        border-radius: 5px;
        background-color: #F5F5F5;
        font-size: 14px;
        padding: 5px;
        margin-bottom: 10px;
        font-weight: bold;
        position: relative;
        display: block;
        line-height: 22px;
        text-shadow: 0 0 1px #DDD;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
         <div class="navbar-brand">
        <div class="pull-left">
        <a class="btn btn-info" id="" href="/InternalAssignment/Index">
                <i class="glyphicon glyphicon-arrow-left"></i><span class="hidden-sm hidden-xs"></span>
            </a>
       
            <span>VIEW MAP</span></div></div>
       
        @* <div class="pull-right newass">
           <button class="btn btn-info" id="createNew">
                <i class="glyphicon glyphicon-plus"></i><span class="hidden-sm hidden-xs">Add New Assignment</span>
                <span class="caret"></span>
            </button>*@
        </div>

    </div>

 <div class="row">        
        <div class="col-xs-6 col-md-4">
            <div id="sidebar">
        <div id="divDirections">

        </div>

    </div>
         </div>
     <div class="col-xs-12 col-md-8">
         <div id="container" class="shadow">
    <div id="map_canvas" style="height: 600px; width: 100%;"></div>
    
</div>
         </div>
</div>






<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyD0X4v7eqMFcWCR-VZAJwEMfb47id9IZao"></script>

<script type="text/javascript">
    var map;
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();

    $(document).ready(function () {

        //draw a map centered at Empire State Building Newyork
        var latlng = new google.maps.LatLng(40.748492, -73.985496);
        var myOptions = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

        directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success);
        } else {
            alert("Geo Location is not supported on your current browser!");
        }

    });

    function success(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        var latlng = new google.maps.LatLng(lat, lng);
        var geocoder = geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'latLng': latlng }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                    var startAdress = results[1].formatted_address;
                    var end = '@ViewBag.DesAddress';
                    calcRoute(startAdress, end);
                }
            }
        });
	}

	function calcRoute(start, end) {
	    var request = {
	        origin: start,
	        destination: end,
	        travelMode: google.maps.TravelMode.DRIVING,
	        provideRouteAlternatives: false
	    };
	    directionsService.route(request, function (result, status) {
	        if (status == google.maps.DirectionsStatus.OK) {
	            directionsDisplay.setDirections(result);
	            displayDirections(result);
	        }
	    });
	}

	function displayDirections(result) {
	    var html = '<div style="margin:5px;padding:5px;background-color:#EBF2FC;border-left: 1px solid #EBEFF9;border-right: 1px solid #EBEFF9;text-align:right;">';
	    html = html + '<span><strong>' + $.trim(result.routes[0].legs[0].distance.text.replace(/"/g, '')) + ', ' + $.trim(result.routes[0].legs[0].duration.text.replace(/"/g, '')) + '</strong></span></div>';
	    $("#divDirections").html(html);

	    //Display Steps
	    var steps = result.routes[0].legs[0].steps;
	    for (i = 0; i < steps.length; i++) {
	        var instructions = JSON.stringify(steps[i].instructions);
	        var distance = JSON.stringify(steps[i].distance.text);
	        var time = JSON.stringify(steps[i].duration.text);
	        $("#divDirections").append(getEmbedHTML(i + 1, instructions, distance, time));
	    }

	    AddReadMore();
	}

	function getEmbedHTML(seqno, instructions, distance, duration) {
	    var strhtml = '<div class="rowDir directab">';
	    strhtml = strhtml + '<span class="direc">Direction ' + seqno + '<br/></span>&nbsp;' + $.trim(instructions.replace(/"/g, '')) + '<br/>'
	    strhtml = strhtml + '<div style="text-align:right;"><span>' + $.trim(distance.replace(/"/g, '')) + ' <span></div>'
	    strhtml = strhtml + '</div><div class="separator"></div>';

	    return strhtml;
	}

	function AddReadMore() { /* to make sure the script runs after page load */

	    $('.rowDir').each(function (event) { /* select all divs with the item class */

	        var short_content = $('span:first', this).html();
	        var long_content = $(this).html();
	        short_content = '<span class="head_text">' + short_content + '<a href="#" class="read_more"><br/><span class="arrow glyphicon glyphicon-chevron-down"></span></a></span>';
	        $(this).html(short_content +
                         '<span class="more_text" style="display:none;">' + long_content + '<a href="#" class="show_less"><br/><span class="arrow glyphicon glyphicon-chevron-up"></a></span>'); /* Alter the html to allow the read more functionality */

	        $(this).find('a.read_more').click(function (event) { /* find the a.read_more element within the new html and bind the following code to it */

	            event.preventDefault(); /* prevent the a from changing the url */
	            $(this).parents('.rowDir').find('.more_text').show(); /* show the .more_text span */
	            $(this).parents('.rowDir').find('.head_text').hide(); /* show the .more_text span */

	        });

	        $(this).find('a.show_less').click(function (event) { /* find the a.read_more element within the new html and bind the following code to it */

	            event.preventDefault(); /* prevent the a from changing the url */
	            $(this).parents('.rowDir').find('.more_text').hide(); /* show the .more_text span */
	            $(this).parents('.rowDir').find('.head_text').show(); /* show the .more_text span */ 

	        });


	    });


	}

</script>


