﻿@model Yihui.Models.RunningStatus_Master

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RunningStatus_Master</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RunningStatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RunningStatus)
    </div>
  
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
