﻿@model Yihui.Models.RunningStatus_Master

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RunningStatus_Master</legend>

        @Html.HiddenFor(model => model.RunningStatusId)
        @Html.HiddenFor(model => model.Deleted)

        <div class="editor-label">
            @Html.LabelFor(model => model.RunningStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RunningStatus)
            @Html.ValidationMessageFor(model => model.RunningStatus)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
