﻿@model Yihui.Models.WeighingTask

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jqueryval")

<style>
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }
</style>

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <img src="~/Images/user/button_cancel.png" width="20" height="20" /></button>
        <h4 class="modal-title">ADD NEW WEIGHING</h4>
        <p class="modal-title pull-right">Created on @DateTime.Now.ToShortDateString()</p>
    </div>
    <div class="modal-body">

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>WeighingTask</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.CustomerId, "Customer")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("CustomerId", String.Empty)
                    @Html.ValidationMessageFor(model => model.CustomerId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.VehicleId, "Vehicle")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("VehicleId", String.Empty)
                    @Html.ValidationMessageFor(model => model.VehicleId)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.TotalWeight)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.TotalWeight)
                    @Html.ValidationMessageFor(model => model.TotalWeight)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.BinWeight)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.BinWeight)
                    @Html.ValidationMessageFor(model => model.BinWeight)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.MetalWeight)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MetalWeight)
                    @Html.ValidationMessageFor(model => model.MetalWeight)
                </div>

                <p>
                    <input type="submit" value="Create" />
                </p>
            </fieldset>
        }

    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
