﻿@model Yihui.Models.WeighingTask

<style>
    .def {
        color: white;
    }

    .Low {
        color: #FFB149;
        font-weight: 400;
    }

    .Medium {
        color: #2D9947;
        font-weight: 500;
    }

    .High {
        color: red;
        font-weight: 600;
    }
</style>

<div class="row">

    <div class="col-md-3">
        <div class="dislplayjob">
            <h2>@Html.DisplayFor(model => model.Customer.CompName)</h2>
        </div>

    </div>

    <div class="col-md-3">
        <a class="btn btn-warning" href="/InternalWeigingTask/Edit?id=@Model.WeighingTaskId"><i class="glyphicon glyphicon-edit">&nbsp;</i>EDIT</a>
    </div>

</div>

<div class="box col-md-12">
    <div class="box-inner">
        <div class="">
        </div>
        <div class="box-content row">
            <div class="col-lg-12 col-md-12">
                <div class="col-xs-6 col-md-6">
                    <p>Company Name: @Html.DisplayFor(model => model.Customer.CompName)</p>
                    <p>Address:@Html.DisplayFor(model => model.Customer.Address)</p>
                    <p>Contact No: @Html.DisplayFor(model => model.Customer.ContactNo)</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-4 main_menu2">
                <strong>
                    <p>Planned Start</p>
                </strong>
                <p>@Html.DisplayFor(model => model.MetalWeight)</p>

            </div>
            <div class="col-xs-6 col-md-4 main_menu2">
                <strong>
                    <p>Planned End</p>
                </strong>
                <p>@Html.DisplayFor(model => model.TotalWeight)</p>

            </div>
            <div class="col-xs-6 col-md-4 main_menu2">
                <strong>
                    <p>Assignment Owner</p>
                </strong>
                <p>@Html.DisplayFor(model => model.BinWeight)</p>

            </div>
            <br />
            <div class="col-md-12">
                <p>Description</p>
                <p>@Html.DisplayFor(model => model.Notes)</p>
            </div>
            <br />
            <div class="col-md-12">
                <p>Items</p>
                <p>@Html.DisplayFor(model => model.Status_Master.Status)</p>
            </div>


        </div>
    </div>
</div>










