﻿@model IEnumerable<Yihui.Models.WeighingTask>

@{
    ViewBag.Title = "My Weighing Tasks";
    Layout = "~/Views/Shared/_UserProfile.cshtml";
}

@Styles.Render("~/Content/css")

<style>
    .fade {
        display: block;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 1001;
        -moz-opacity: 0.7;
        opacity: .70;
        filter: alpha(opacity=70);
    }

    .popup {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 200px;
        margin-left: -150px;
        margin-top: -100px;
        padding: 10px;
        border: 2px solid #FFF;
        background: #CCC;
        z-index: 1002;
        overflow: visible;
    }

    .modal-content {
        width: 900px !important;
        margin: 30px auto !important;
    }
</style>

<div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">
        <a class="navbar-brand">
            <span>WEIGHING & SORTING </span></a>
        <div class="pull-left what">
            @if (Request.IsAuthenticated)
            { 
                <text>
                <div class="singinas">
                    Singed in as,<a href="/User/MyProfile"> @User.Identity.Name</a> &nbsp; &nbsp; &nbsp;
                </div>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
<a class="logoff" href="javascript:document.getElementById('logoutForm').submit()">Click here to Log Out</a>
                }
                </text>
            }
        </div>
        <div class="pull-right newass">
            <a class="modal-link btn btn-info" href="/InternalWeigingTask/Create">
                <i class="glyphicon glyphicon-plus"></i><span class="hidden-sm hidden-xs">Add New Weighing</span>
            </a>
        </div>
        @*@Html.ActionLink("Create ", "Create", "InternalAssignment", null, new { @class = "modal-link btn btn-success" })*@


    </div>
</div>


<div class="ch-container">
    <div class="row">

        <!-- left menu starts -->
        <div class="col-xs-10 col-md-3">

            <ul class="nav nav-pills nav-stacked main-menu" id="jobs">
                <li class="nav-header">Today, @DateTime.Now.ToShortDateString()</li>


                @foreach (var item in Model)
                {
                    <li class="job"  id="@(item.WeighingTaskId)">
                        <a class="ajax-link">
                            <span>
                                <span class="1 col-xs-8" style="float: left; color: black">
                                    @Html.DisplayFor(modelItem => item.Customer.CompName)<br />
                                    @Html.DisplayFor(modelItem => item.TimeReceived)
                                </span>
                                <span class="2" style="float: right">


                                    @if (Html.DisplayFor(modelItem => item.Status_Master.Status).ToString() == Yihui.Common.Status.Sorted.ToString())
                                    {
                                        <div class="inpro"></div>
                                    }
                                    else if (Html.DisplayFor(modelItem => item.Status_Master.Status).ToString() == Yihui.Common.Status.NotSorted.ToString())
                                    {
                                        <div class="notstart"></div>
                                    }
                                   
                                    <div class="prio">@Html.DisplayFor(modelItem => item.JobId)</div>

                                </span>
                            </span>

                        </a></li>
                }


            </ul>

        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>
                    You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.
                </p>
            </div>
        </noscript>

        <div id="DetailView" class="col-xs-12 col-md-9">
            <!-- content starts -->



        </div>
        <!--/#content.col-md-0-->
    </div>
    <!--/fluid-row-->
</div>

<div id="modal-container" class="modal" tabindex="-1" role="dialog">
</div>

<script type="text/jscript">

    $(document).ready(function () {


        var rowCount = $('#jobs li').length;
        if (rowCount > 1) {
            $('#DetailView').load('../InternalWeigingTask/Details');
            $('#DetailView').show();
        }

        $(".job").click(function (event) {
            var id = (this.id);
            $('#DetailView').load('../InternalWeigingTask/Details', { id: id });
            $('#DetailView').show();
        });

    });

    $(function () {
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });

        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });

        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });

        $('#CancelModal').on('click', function () {
            return false;
        });
    });

    $("#jobs li a").click(function () {
        $(this).parent().addClass('active').siblings().removeClass('active');

    });

</script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")




