﻿@model Yihui.Models.DeviceType_Master

@{
    ViewBag.Title = "Create Device Type";
    Layout = "~/Views/Shared/_DataList.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DeviceType_Master</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeviceType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeviceType)
            @Html.ValidationMessageFor(model => model.DeviceType)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
