﻿@model Yihui.Models.WeighingTask

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>WeighingTask</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.JobId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.JobId)
            @Html.ValidationMessageFor(model => model.JobId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VehicleId, "Vehicle")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VehicleId", String.Empty)
            @Html.ValidationMessageFor(model => model.VehicleId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TaskDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TaskDate)
            @Html.ValidationMessageFor(model => model.TaskDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerId, "Customer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CustomerId", String.Empty)
            @Html.ValidationMessageFor(model => model.CustomerId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeReceived)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeReceived)
            @Html.ValidationMessageFor(model => model.TimeReceived)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TimeWeighed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeWeighed)
            @Html.ValidationMessageFor(model => model.TimeWeighed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId, "User")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalWeight)
            @Html.ValidationMessageFor(model => model.TotalWeight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BinWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BinWeight)
            @Html.ValidationMessageFor(model => model.BinWeight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MetalWeight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MetalWeight)
            @Html.ValidationMessageFor(model => model.MetalWeight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusId, "Status_Master")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StatusId", String.Empty)
            @Html.ValidationMessageFor(model => model.StatusId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedDate)
            @Html.ValidationMessageFor(model => model.ModifiedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedBy)
            @Html.ValidationMessageFor(model => model.ModifiedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Deleted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Deleted)
            @Html.ValidationMessageFor(model => model.Deleted)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
