﻿@model Yihui.Models.WeighingTask

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>WeighingTask</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.JobId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.JobId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vehicle.VehicleNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vehicle.VehicleNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaskDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaskDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.CustomerNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.CustomerNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeReceived)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeReceived)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeWeighed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeWeighed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TotalWeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalWeight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BinWeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BinWeight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MetalWeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MetalWeight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status_Master.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status_Master.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deleted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deleted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.WeighingTaskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
