﻿@model IEnumerable<Yihui.Models.WeighingTask>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeWeighed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BinWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetalWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status_Master.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.VehicleNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeReceived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeWeighed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BinWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetalWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status_Master.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeighingTaskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeighingTaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeighingTaskId })
        </td>
    </tr>
}

</table>
