﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @*   @Styles.Render("~/Content/bootstrapcss")*@
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/gridmvc")

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/main/internalAssignment/style.css">
    <link rel="stylesheet" href="~/Content/main/internalAssignment/default.css">
    
</head>
<body>

    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            @*<button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@
            <div class="navbar-brand">
                <div class="pull-left">
                    <a class="btn btn-info" id="" href="/Home/SystemDashBoard">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="hidden-sm hidden-xs"></span>
                    </a>

                    <span>EDIT DATA LIST</span>
                </div>
            </div>

        </div>

    </div>    
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
