﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Yihui</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @*  @Styles.Render("~/Content/css")
        @Scripts.Render("~/Content/themes/base/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/gridmvc")

    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/main/internalAssignment/style.css">
    <link rel="stylesheet" href="~/Content/main/internalAssignment/default.css">

    
</head>
<body>
    @* <header>
            <div style="clear:both;font-size:xx-large;padding:20px">
                @Html.ActionLink("<-- Moniter Drivers", "SystemDashBoard", "Home")
            </div>
            <div class="content-wrapper">
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Drivers", "Drivers", "Assignment")</li>
                            <li>@Html.ActionLink("Jobs", "Index", "Assignment")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer> *@

    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            @*<button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@
            <div class="navbar-brand">
                <div class="pull-left">
                    <a class="btn btn-info" id="" href="/Home/SystemDashBoard">
                        <i class="glyphicon glyphicon-arrow-left"></i><span class="hidden-sm hidden-xs"></span>
                    </a>

                    <span>MONITOR DRIVERS</span>
                </div>
            </div>

        </div>

    </div>

   

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    @RenderSection("scripts", required: false)

    
</body>
</html>
