﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Content/main/internalAssignment/style.css">
         <link rel="stylesheet" href="~/Content/main/internalAssignment/default.css">
     @*   @Styles.Render("~/Content/css")
        @Scripts.Render("~/Content/themes/base/css")
        @Scripts.Render("~/Content/bootstrapcss")*@
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/location")
    </head>
    <body>
       @* <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("My Profile", "MyProfile", "User")</li>
                            <li>@Html.ActionLink("My Jobs", "Index", "InternalAssignment")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>*@
       <div class="navbar navbar-default" role="navigation">

    <div class="navbar-inner">
        @*<button type="button" class="navbar-toggle pull-left animated flip">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>*@

        <a class="navbar-brand">
            <span>My Job</span></a>
        <div class="pull-left what">
            @if (Request.IsAuthenticated)
            { 
 <text>
                <div class="singinas">
                    Singed in as,<a href="/User/MyProfile"> @User.Identity.Name</a> &nbsp; &nbsp; &nbsp;
                </div>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
<a class="logoff" href="javascript:document.getElementById('logoutForm').submit()">Click here to Log Out</a>
                }
                </text>
            }
        </div>
       <div class="pull-right newass">
           @* <a class="modal-link btn btn-info" href="/InternalAssignment/Create">
                <i class="glyphicon glyphicon-plus"></i><span class="hidden-sm hidden-xs">Add New Assignment</span>
            </a>*@
           @*<div class="navbar-collapse collapse ">
               <ul class="nav navbar-nav">
                   <li class="active"><a href="/User/MyProfile">My Profile</a></li>
                   <li><a href="/User/UpdateProfile?id=@Model.UserId">Update Profile</a></li>
                   <li class=""><a href="/Account/Manage">Change Password</a></li>
                   <li><a href="/InternalAssignment">My Jobs</a></li>
               </ul>
           </div>*@
        </div>
                        @*@Html.ActionLink("Create ", "Create", "InternalAssignment", null, new { @class = "modal-link btn btn-success" })*@


    </div>
</div>
        <div class="container">
            <div class="row">
                <a href="/User/MyProfile" class="active">
                    <div class="col-md-3 main_menu">My Profile</div>
                </a>
               @* <a href="/User/UpdateProfile?id=@Model.UserId">
                    <div class="col-md-3 main_menu">Update Profile</div>
                </a>*@
                <a href="/Account/Manage">
                    <div class="col-md-3 main_menu">Change Password</div>
                </a>
                <a href="/InternalAssignment">
                    <div class="col-md-3 main_menu">My Jobs</div>
                </a>
            </div>
        </div>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        @*
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
        *@
        @RenderSection("scripts", required: false)
    </body>
</html>
