﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        
        <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/Content/main/internalAssignment/style.css">
         <link rel="stylesheet" href="~/Content/main/internalAssignment/default.css">
     @*   @Styles.Render("~/Content/css")
        @Scripts.Render("~/Content/themes/base/css")
        @Scripts.Render("~/Content/bootstrapcss")*@
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/location")
    </head>
    <body>
        <header>
@*            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("My Profile", "MyProfile", "User")</li>
                            <li>@Html.ActionLink("My Jobs", "Index", "InternalAssignment")</li>
                        </ul>
                    </nav>
                </div>
            </div>*@
        </header>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        @*
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>
        *@
        @RenderSection("scripts", required: false)
    </body>
</html>
